// PROBLEMÁTICAS QUE ABORDAMOS
.section____3{
    height: 816px;
    background-color: #FFFFFF;
}

.prueba_seccion_3{
    height: 800px;
    background-color: $color-principal;
    border-radius: 0% 0% 100% 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.section3 {
    .titulo__section3 h2 {
        margin-top: -425px;
        @include titulos-principales;
        padding: 3rem;
        color: #FFFFFF;
        text-align: center;
    }

    .carousel__section3 {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), 0px -4px 20px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(50px);
        position: relative;
        overflow: hidden;
        padding: 20px;

        .button-next {right: 0;}        

        .flecha-carousel {
            border: none;  
            width: 3rem;
            height: 3rem;  
            position: absolute;
            top: 40%;      
            display: flex;   
            justify-content: center;   
            align-items: center;
            background: rgba(185, 205, 223, 0.658);
            cursor: pointer;
            z-index: 9;            
            border-radius: 50%;

            .material-icons {
                font-size: 32px;
                font-weight: bolder;
                height: 2rem;
                color: $color-principal;  
            }
        }

        .carousel-track {
            padding: 0 10vh;
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {display: none;}
            
            .each__card3 {
                background-color: #FFFFFF;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 2rem;
                margin: 1rem;
                width: 23rem;
                height: 22rem;
                text-align: center;

                img {
                    width: 18rem;
                    height: 85%;
                }

                h3 {
                    font-weight: 700, bold;
                    font-size: 30px;
                    line-height: 35px;
                    color: $color-principal;
                }
            }
        }     
    }
}

#brujula1{
    margin-left: -150px;
}

@media screen and (max-width: 600px) {
    .section3 {
        .titulo__section3 h2 {
            font-size: 42px;
        }

        .carousel__section3 {
            .carousel-track {
                .each__card3 {
                    width: 20rem;
                    height: 19rem;
            
                    img {
                        width: 16rem;
                        height: 85%;
                    }
                }
            }            
        }

    }
}